<div class="p-5">
    <p class="text-black text-5xl">Create Quiz</p>

    <div class="bg-gray-400 p-10 my-10" *ngFor="let question of questions; let i = index">
        <div class="flex justify-end mr-5">
            <label class='mr-3' for="type{{i}}">Question Type :</label>
            <select id="type{{i}}" class="block" [(ngModel)]="question.type">
                <option value="True and False">True and False</option>
                <option value="Mutiple Choice">Mutiple Choice</option>
                <option value="Coding Quesion">Coding Question</option>
            </select>
        </div>
       

        <div class="flex">
            <label for="">Question : </label>
            <textarea name="" id="" [(ngModel)]="question.question"></textarea>
        </div>
        
        <div *ngIf="question.type === 'True and False'" class="flex">
            <label for="answer{{i}}">Answer :</label>
            <select name="" id="answer{{i}}" [(ngModel)]="question.answer">
                <option value="">True</option>
                <option value="">False</option>
            </select>
        </div>

        <div *ngIf="question.type === 'Mutiple Choice' " class="flex">
            Hello
        </div>


        <div *ngIf="question.type === 'Coding Question' ">
          Bye
        </div>
    </div>

    <button (click)="addQuestion()">More Question</button>
</div>