body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}
h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.reset-box {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reset-box h2 {
    background-color: #bfc9a6;
    margin: -20px -20px 20px -20px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 24px;
    color: #333;
}
.reset-box input[type="password"],
.reset-box input[type="confirmpassword"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
.reset-box .reset-button {
    padding: 10px 20px;
    border: none;
    background-color: #999;
    color: white;
    margin-top: 5px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    font-size: 16px;
}

.reset-box .reset-button:hover {
    background-color: #666;
}
.back-to-login-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.back-to-login-link .arrow {
    font-size: 26px;
}
.back-to-login-link:hover {
    text-decoration: underline;
}