<body>
    <div class="container">
        <h1>Testy</h1>
        <div class="reset-box">
            <h2>Reset Password</h2>
            <form action="/login" method="get">
                <input type="password" placeholder="Password">
                <input type="confirmpassword" placeholder="Confirm Password">
                <button type="submit" class="reset-button">Reset</button>
            </form>
            <a routerLink="/login" class="back-to-login-link"><span class="arrow">&larr;</span> Back to Login</a>
        </div>
    </div>
</body>