<div>
    <div id = "box" routerLink="/gacha">
        <div id = "footer">
            <img src="../../../../assets/img/spinner.png" class="w-[90%] h-[50%] mx-auto mt-10 rounded-2xl"alt="">
            <p class="mt-10">GACHA TITLES</p>
        </div>
    </div>
    
    <div id = "box" routerLink="/power-up">
        <div id = "footer">
            <img src="../../../../assets/img/power-up.png" class="w-[90%] h-[50%] mx-auto mt-10 rounded-2xl" alt="">
            <p>POWER UPS</p>
        </div>
    </div>
</div>


