<div class="quiz-container">
    <a class="quiz_link" (click)="openModal('Basic Syntax', '1')" data-quiz-id="1">
      <span class="quiz">Basic Syntax</span>
    </a>
    <a class="quiz_link" (click)="openModal('Mathematical Operations', '2')" data-quiz-id="2">
      <span class="quiz">Mathematical Operations</span>
    </a>
    <a class="quiz_link" (click)="openModal('Boolean Types', '3')" data-quiz-id="3">
      <span class="quiz">Boolean Types</span>
    </a>
  </div>
  
  <app-modal *ngIf="isModalOpen" [modalContent]="modalContent" [quizId]="quizId" (closeModal)="closeModal()" (viewParticipants)="onViewParticipants()"></app-modal>
  