#material-sec{
    background-color: black;
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    /* border: 2px solid black; */
}

#material-sec::before {
    content: "";
    background-image: url("material.webp");
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tagline{
    color: white;
    font-weight: bolder;
    font-size: 45px;
    position: relative;
    left: 480px;
    top: 160px;
    z-index: 2;
}

#second_tagline{
    position: absolute;
    top: 220px;
    left: 355px;
}

#highlight_download{
    color: #4EF037;
}

#highlight_gateway{
    color: #00BFFF;
}

#add_mate{
    height: 45px;
    width: 125px;
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    left: 950px;
    top: 8px;
    z-index: 5;
}

#recent_quiz_sec{
    overflow: hidden;
    height: 250px;
}

#recent_created_quiz{
    color: white;
    font-size: 23px;
    position: relative;
    top: 28px;
    left: 10px;
}

#view_more{
    color: white;
    font-size: 15px;
    position: relative;
    left: 1350px;
    top: 2px;
    cursor: pointer;
}

#power-up-sec{
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    height: 400px;
    max-height: 400px;
    background-color: black;
}

#power-up-sec::before {
    content: "";
    background-image: url("powering.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.power_up_tagline{
    color: white;
    font-weight: bolder;
    font-size: 45px;
    position: relative;
    left: 480px;
    top: 140px;
}

#second_power_tagline{
    position: absolute;
    top: 210px;
    left: 550px;
}

#highlight_stronger{
    color: #FFD700;
}

#highlight_power{
    color: #FF0000;
}

#title-sec{
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    height: 400px;
    max-height: 400px;
    background-color: rgb(29, 27, 27);
}


#title-sec::before {
    content: "";
    background-image: url("spin.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title_tagline{
    color: white;
    font-weight: bolder;
    font-size: 45px;
    position: relative;
    left: 640px;
    top: 140px;
    z-index: 1;
}

#second_title_tagline{
    position: absolute;
    top: 210px;
    left: 500px;
}

#highlight_spin{
    color: #1FFFD4;
}

#highlight_unique_title{
    color: #f0ff22;
}