<body>
    <div class="container">
        <h1>Testy</h1>
        <div class="reset-box">
            <h2>Find Account</h2>
            <form action="/password" method="get">
                <input type="name" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email Address" required>
                <button type="submit" class="find-button">Find</button>
            </form>
            <a routerLink="/login" class="back-to-login-link"><span class="arrow">&larr;</span> Back to Login</a>
        </div>
    </div>
</body>
