.material-container{
    box-sizing: border-box;
    background-color: aqua;
    border-radius: 18px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    height: 400px;
    margin: auto;
}



p{
    font-weight: bold;
}

.btn{
    margin: 5px;
    border-radius: 8px;
    padding: 7px;
    position: relative;
    left: 690px;
    bottom: 115px;
}

#dwnld_btn{
    background-color: green;
    color:black;
}

#dwnld_btn:hover{
    background-color: rgb(2, 48, 2);
    color: aliceblue;
}

#delete_btn{
    background-color: red;
    color: black;
}

#delete_btn:hover{
    background-color: rgb(123, 0, 0);
    color: aliceblue;
}